@media screen and (max-width : 990px){
    #wix{
        display: none;
    }
    /* #info{
        display: block;
    } */
}
body{
  background-color: #f5f5f5ab;
}

section{
  background-color: rgb(255,255,255);
  -webkit-box-shadow: 0 0 4px -2px #444444;  
	-moz-box-shadow: 0 0 4px -2px #444444;     
	box-shadow: 0 0 4px -2px #444444;          
  /* box-shadow: 1px 1px 2px #c4c4c4 ; */
  /* box-shadow: 7px 5px 5px -3px rgba(92,92,92,0.4), 0px 5px 10px rgba(92,92,92,0.6), -7px 5px 5px -3px rgba(92,92,92,0.4); */
  margin: 0 0 15px 0;
}
.carousel {
    height: 360px;
}
.card{
    margin-right: 1px;
}
.card-text {
    font-size: 15px;
}

.bg-title1{
    background-color: #B5DE93;
}
.bg-title2{
  background-color: #B60000;
}

.bg-danger{
  background-color: #E61601;
}
.details a{
    color: black;
}
.details b{
    font-size: inherit;
}
footer{
    background-color: rgb(50,50,50);
}
footer header{
  background-color: rgb(40,40,40);
}
footer a{
    color: rgba(245, 245, 245, 0.596);
    text-decoration: none;

}
footer a:hover{
  color: rgba(245, 245, 245, 0.596);
  text-decoration: underline;
}
footer h6{
    color: white;
    font-size: small;
}
footer .fa{
  font-size: 20px;

}
.overflow-scroll::-webkit-scrollbar{
   display: none; 
    /* height: 10px;
    background-color: red; */
}
.rounded-pill{
    width: 60px;
    height: 60px;
    z-index: 999;
}
.btn-secondary{
    width: 40px;
    height: 40px;
    display: none;
}
.btn .fa{
    font-size: 15px;
    color: white;
}
.fa {
    font-size: 30px;
    color: rgb(33, 37, 41);
}
.fa-sm{
  font-size: small;
}
nav .fd{
  font-size: larger;
}
.fs-5-6{
  font-size: 18px;
}
.shadow{
  /* box-shadow: 0 0 2px -2px #444444; */
  -webkit-box-shadow: 0 0 4px -2px #444444;  
	-moz-box-shadow: 0 0 4px -2px #444444;     
	box-shadow: 0 0 4px -2px #444444;          
}
.sticky-bottom .float-end{
  z-index: -1;
  width: 40px;
  height: 40px;
  /* background-color: #B60000; */
}